/* Forums Page Styles - forums.css */
.forum_left {
    width: 31%;
    height: 93.6%;
    border-right: 0.5px solid rgb(179, 179, 179);
    overflow: hidden;
    border-bottom: 1px solid rgb(179, 179, 179);
}
.forum_right {
    width: 66%;
    height: 100%;
    overflow: hidden;
}
.forum_item {
    width: 100%;
    height: 65px;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid rgb(179, 179, 179);
}
.forum_thread {
    height: 180px;
    padding: 15px;
}
.forum_comment {
    width: 100%;
    height: 100px;
    padding: 12px;
    margin: 12px 12px 12px 28px;
    border: 1px solid #67C781;
    border-radius: 5px;
}
.forum_button {
    width: 85px;
    height: 26px;
    padding: 4px 6px;
    border-radius: 5px;
    border: 1px solid #67C781;
}
.profile {
    width: 45px;
}
.forum_header {
    font-size: 14px;
    color: black;
    padding-left: 15px;
    margin-top: -2px;
}
.forum_subheader {
    font-size: 11px;
    padding-left: 15px;
    margin-top: -10px;
    color:rgb(109, 109, 109);
}
.forum_icons {
    width: 16px;
    padding: 0 5px 0 12px;
    vertical-align: middle;
}
.forum_labels {
    font-size: 12px;
    color: rgb(109, 109, 109);
}
.forum_active {
    background-color: #67C781;
}
.forum_item:hover {
    background-color: rgb(236, 236, 236);
}